<div class="list-item-container"  appTense [creationDate]="item.creationDate">
  <div class="list-item-title">
    <div class="list-item-title-text">
        {{ item.title | uppercase }}
    </div>
    <div class="list-item-title-rating" *ngIf="item.topRated">
      <mat-icon>star</mat-icon>
    </div>
  </div>
  <div class="list-item-duration">
    {{ item.duration | duration }}
  </div>
  <div class="list-item-date">
    {{ item.creationDate | date : 'dd.MM.yyyy' }}
  </div>
  <div class="list-item-description">
    {{ item.description }}
  </div>
  <div class="list-item-actions">
    <button mat-icon-button class="mat-raised-button mat-accent">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="mat-raised-button mat-accent" (click)="onDelete(item)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>