.list-item-container {
    border: 2px solid #9E9E9E;
    border-radius: 5px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    padding: 10px;
}

.list-item-title {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.list-item-title-rating .material-icons {
    font-size: 18px;
    color: rgb(255, 235, 59);
    width: 18px;
    height: 18px;
}

.list-item-duration {
    text-align: center;
    grid-column: 2 / 3;
}

.list-item-date {
    text-align: center;
    grid-column: 3 / 4;
}

.list-item-description {
    grid-column: 1 / 4;
}

.list-item-actions {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

button {
    margin: 2px;
}