.main-header-container {
    margin-bottom: 20px;
    font-family: "Lobster", cursive;
}

.main-header-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    background: #9E9E9E;;
    padding: 0 25px;
    box-shadow: 0 14px 28px rgba(158, 158, 158, 0.25), 0 10px 10px rgba(158, 158, 158, 0.22);
}

.logo-container {
    font-size: 24px;
    justify-self: left;
    text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white,
1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white,
2px 2px 3px black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-container {
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
}