<mat-toolbar class="main-header-container">
  <mat-toolbar-row class="main-header-row">
    <div class="logo-container">
      <img src="../../favicon.ico" />
      <div class="app-name">Application name</div>
    </div>
    <div class="user-container">
      <div class=user-name>{{ user.firstName }}</div>
      <button mat-raised-button class="mat-raised-button mat-accent">Log Out</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>