<div class="search-box-container">
    <mat-form-field>
        <mat-label for="search">Search</mat-label>
        <input matInput id="search" [(ngModel)]="searchInput">
    </mat-form-field>
    <button mat-raised-button class="mat-raised-button mat-accent" (click)="onClick()">
        <mat-icon>search</mat-icon>
    </button>
</div>
