<div class="courses-toolbox-container">
    <div class="search-container">
        <app-search-box (searchClick)="onClick($event)"></app-search-box>
    </div>
    <div class="add-new-container">
        <button mat-icon-button class="mat-raised-button mat-accent">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>