.courses-toolbox-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 10px;
}

.search-container {
    width: 100%;
}

input {
    width:100%;
}
.add-new-container {
    margin: 12px;
    justify-self: end;
}