<div class="courses-page-container">
  <app-main-header [user]="user"></app-main-header>
  <app-breadcrumbs></app-breadcrumbs>
  <div class="courses-page-content">
      <app-courses-toolbox (searchClick)="onSearchClick($event)"></app-courses-toolbox>
      <app-list [items]="courses"></app-list>
  </div>
  <app-main-footer></app-main-footer>
</div>