<div class="list-container">
  <div class="list-content" *ngIf="itemsAvailable()">
    <app-list-item *ngFor="let item of items" [item]="item" (delete)="onDelete($event)"></app-list-item>
    <button mat-raised-button class="mat-raised-button mat-accent" (click)="onLoadMore()">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
  <div class="no-items" *ngIf="!itemsAvailable()">
    {{ NO_DATA_MESSAGE }}
  </div>
</div>