.main-footer-container {
    min-height: 64px;
    background: #9E9E9E;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 -14px 28px rgba(158, 158, 158, 0.25), 0 -10px 10px rgba(158, 158, 158, 0.22);
}