@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Lobster", cursive;
    color: rgba(0, 0, 0, 0.87);
}
